QtProject.conf
user-dirs.dirs
user-dirs.locale
X-Cinnamon-xdg-terminals.list
xdg-terminals.list
\autostart
\caja
\calibre
\cinnamon
\cinnamon-session
\Code
\dconf
\enchant
\evolution
\goa-1.0
\gtk-3.0
\menus
\nemo
\pulse
